<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
    <%- include('css.ejs') %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/preguntas">Preguntas</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>  
    
    <div class="col-sm-8 text-left"> 
      <h1>Home</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Form a introducir</h3>
      <form method="POST" action="/home/home">
        <input type="text" class="fadeIn second" name="nombre" placeholder="nombre">
        <input type="text" class="fadeIn third" name="edad" placeholder="edad">
        <input type="submit" class="fadeIn fourth" value="Saludo">
    </form>
    <br>
    <% if ((nombre!=null) && (edad!=null)) { %>
      <p>Hola! <%= nombre %> tienes  <%= edad %> años</p>
    <%}%>
    </div>
    
    <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-2 sidenav">
          </div>  
  </div>
</div>


<%- include('footer') %>

</body>
</html>
